<ion-header>

  <ion-navbar>
    <ion-title>Listado</ion-title>
    <ion-buttons>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>        
        <ion-input  type="text"  placeholder="Nombre de empresa" ></ion-input>
    </ion-item>
      
    <ion-item *ngFor="let comercio of comercios" (click)=irDetalle(comercio)>
      <ion-thumbnail item-start>
        <img src="{{comercio.logo}}">
      </ion-thumbnail>
      <h2>{{comercio.empresa}}</h2>
      <p>{{comercio.direccion}} {{comercio.nro}}</p>
      <p>{{comercio.localidad}}</p>
      <button ion-button clear item-end>Ver</button>
      <h2>({{comercio.caracteristica}}) - {{comercio.telefono}}</h2>
        <button ion-button color="primary">
          <ion-icon name="text"></ion-icon>
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
        </button>
        <button ion-button color="secondary">
          <ion-icon name="share"></ion-icon>
        </button>
      
    </ion-item>
  </ion-list>
</ion-content>