<ion-header>

  <ion-navbar>
    <ion-title>rubros</ion-title>
    <ion-buttons>
        <button ion-button 
                icon-only  
                menuToggle>
           <ion-icon  name="menu"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
