<ion-header>
  <ion-navbar>
    <ion-title>Gui Alvear</ion-title>
    <ion-buttons>
      <button ion-button 
              icon-only  
              (click)="mostrarMenu()">
         <ion-icon  name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div id="logo" padding text-center>
      <img src="../assets/imgs/guialvear.png">
    </div>
    <ion-item>        
        <ion-label> <ion-icon name="search"  ></ion-icon> </ion-label>
        <ion-input  type="text" [(ngModel)]="search"  placeholder="Nombre de empresa, rubro" ></ion-input>
    </ion-item>


    <button ion-button 
            block
            full 
            color="primary"
            (click)="navegarListado()"
            [disabled]="search.length < 3"
            >
            Buscar</button>
    <button ion-button 
            block
            full
            color="secondary"
            [navPush]=(rubros)
            >
    Registrate</button>
  
</ion-content>
