<ion-menu [content]="content">
        <ion-header>
          <ion-toolbar >
            <ion-title>Paginas</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-list>
            <button ion-item (click)="abriPagina(listado)">
             Guía comercial
            </button>
            <button ion-item (click)="abriPagina(rubros)">
              Contacto
            </button>
            <button ion-item (click)="abriPagina(rubros)">
                Acerca de
            </button>
            <button ion-item (click)="abriPagina(rubros)">
                Compartir
            </button>
          </ion-list>
        </ion-content>
      </ion-menu>
      

<ion-nav [root]="rootPage" #content></ion-nav>
