
<ion-header>

  <ion-navbar 	text-align: right>
      <button ion-button color="primary">
          <ion-icon name="home"></ion-icon>
        </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>{{comercio.empresa}}</h1>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="{{comercio.logo}}">
    </ion-thumbnail>
    <h2>{{comercio.descripcion}}</h2>
    <h2>{{comercio.direccion}} {{comercio.nro}}</h2>
    <h3>{{comercio.localidad}}</h3>
    <h3><ion-icon  size="small" name="logo-facebook"></ion-icon> {{comercio.facebook}}</h3>
    <h3><ion-icon size="large" name="logo-instagram"></ion-icon> {{comercio.instagram}}</h3>
    <h3><ion-icon name="link"></ion-icon> {{comercio.web}}</h3>
    <h1>({{comercio.caracteristica}}) - {{comercio.telefono}}</h1>
      <button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
      </button>
      <button ion-button color="secondary" (click)="callNumber()" >
        <ion-icon name="call"></ion-icon>
      </button>
      <button ion-button color="secondary">
        <ion-icon name="share"></ion-icon>
      </button>
  </ion-item>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom] =16>
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</ion-content>
